################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TripTracker
bin
obj
.vscode
.DS_Store
*.db
.vs
node_modules 
/obj