################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TripTracker
bin
obj
Credentials.ts
.vscode
.DS_Store
*.db
.vs
node_modules 
/obj
*/obj/*
obj/
/obj/Debug/*

